Source: rabbitmq-server
Section: net
Priority: extra
Maintainer: RabbitMQ Team <info@rabbitmq.com>
Uploaders: Michael Klishin <michael@rabbitmq.com>,
 Karl Nilsson <knilsson@rabbitmq.com>,
 Jean-Sébastien Pédron <jean-sebastien@rabbitmq.com>
Build-Depends: debhelper (>= 9),
 erlang-base (>= 1:23.2) | erlang-base-hipe (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-crypto (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-edoc (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-eldap (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-erl-docgen (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-eunit (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-inets (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-mnesia (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-os-mon (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-parsetools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-public-key (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-runtime-tools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-ssh (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-ssl (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-syntax-tools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-tools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-xmerl (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-dev (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-src (>= 1:23.2) | esl-erlang (>= 1:23.2),
 elixir (>= 1.12.3),
 zip,
 rsync
Standards-Version: 3.9.6

Package: rabbitmq-server
Architecture: all
# FIXME: We remove ${misc:Depends} and hard-code the dependency on
# init-system-helpers. we need this because we build the package on
# Debian, where dh-systemd/init-system-helpers is at version 1.18, but
# Ubuntu 14.04 only has init-system-helpers 1.14.
Depends: init-system-helpers (>= 1.13~),
 erlang-base (>= 1:23.2) | erlang-base-hipe (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-crypto (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-eldap (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-inets (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-mnesia (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-os-mon (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-parsetools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-public-key (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-runtime-tools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-ssl (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-syntax-tools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-tools (>= 1:23.2) | esl-erlang (>= 1:23.2),
 erlang-xmerl (>= 1:23.2) | esl-erlang (>= 1:23.2),
 adduser,
 logrotate,
 socat
Description: Multi-protocol messaging and broker
 RabbitMQ is an open source multi-protocol messaging broker.
Homepage: https://www.rabbitmq.com/
